<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header titleCard">
                    <!--i class="fa fa-align-justify"></i-->Food statistics
                    <div class="float-right">
                        <button class="btn btn-primary btn-sm botonL" (click)="logout()">Log Out</button>
                    </div>
                </div>
                <div class="card-body" style="background-image: url('assets/img/bkgFood.jpg'); padding: 0;">
                    <div class="jumbotron foodBkg" style="margin:0">
                        <p class="toon" style="font-size: 55px;">The Users of P4P have donated a grand total of</p>
                        <h1 class="toon aD" style="font-size: 100px;">92806</h1>
                        <p class="toon" style="font-size: 55px;">pounds of food.</p>
                        <br><br>
                        <img src="assets/img/world.gif" style="display: block; margin: 0 auto;" width="400">
                        <p class="toon" style="font-size: 35px;">Thanks for your help, you have contributed 32 pounds of this amount.</p>
                        <p class="toon" style="font-size: 35px;">Without your help this wouldn't be possible.</p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
